<h1>Timesheets - Login Menu</h1>
<p>
  The current time is: <%= Time.now %>
</p>
<%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %>
<%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>