<footer class='footer'>
  <small>
    Jesse's Timesheet App
  </small>
<!--   <nav>
    <ul>
      <li>Future link</li>
      <li>Future link 2</li>
      <li>Future link 3</li>
    </ul>
  </nav> -->
</footer>